h1 {
  font-size: 15px;
}

.btn {
    background-color: #38FFBC;
    border: 1px solid #99A1AD;
    border-radius: 5px;
    box-shadow: 0 3px #3D4045; 
    padding: 5px 20px;
}

.btn:active {
    position: relative;
    top: 3px;
    box-shadow: none;
}

.btn:hover {
    cursor: pointer;
}

#time {
    font-size: 30px;
}
